$mainColor: #d2a275;

.logo {
    width: 100%;
}
.logo-mobile {
    width: 100px;
    margin: 0 2rem 0 0;
}
.projects {
    .section-content {
        // height: 80vh;
        .projects-carousel {
            .project {
                width: 50%;

                img{
                    margin: 0px auto;
                    width:80%;
                }
            }
        }
    }
}
