$mainColor: #d2a275;

.logo {
    width: 100%;
}
.logo-mobile {
    width: 100px;
    margin: 0 2rem 0 0;
}
.logo--footer{
    width: 40%;
}
.projects {
    .section-content {
        // height: 80vh;
        .projects-carousel {
            .project {
                width: 50%;

                img {
                    margin: 0px auto;
                    width: 80%;
                }
            }
        }
    }
}

.clients {
    .container {
        .section-content {
            .clients-list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .client {
                    width: 30%;
                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        height: 260px;
                        margin-bottom: 10px;

                        text-decoration: none;
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

.services{
    .section-content{
        .row-services{
            .col-service{}
        }
    }
}
