$mainColor: #d2a275;

.logo {
    width: 100%;
}
.logo-mobile {
    width: 100px;
    margin: 0 2rem 0 0;
}
.logo--footer {
    width: 40%;
}
.projects {
    .section-content {
        // height: 80vh;
        .projects-carousel {
            .project {
                width: 50%;

                img {
                    margin: 0px auto;
                    width: 80%;
                }
            }
        }
    }
}

.clients {
    .container {
        .section-content {
            .clients-list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .client {
                    width: 30%;
                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        height: 260px;
                        margin-bottom: 10px;
                        text-decoration: none;
                        img {
                            width: 80%;
                        }
                        span {
                        }
                    }
                }
                .w-20p {
                    width: 20%;
                    a {
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}

.plane {
    .section-content {
        .row-plane {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// .partners {
//     .container {
//         .section-content {
//             .partners-list {
//                 display: flex;
//                 flex-direction: row;
//                 justify-content: space-evenly;
//                 align-items: center;
//                 flex-wrap: wrap;
//                 margin: 10px 0 0 0;
//                 .partner {
//                     width: 20%;
//                     a {
//                         display: flex;
//                         flex-direction: column;
//                         justify-content: space-between;
//                         align-items: center;
//                         height: 260px;
//                         margin-bottom: 10px;
//                         text-decoration: none;
//                         img {
//                             width: 80%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.values {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}

.border_right {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: -13px;
        right: -16px;
        width: 5px;
        height: 50px;
        background: #d2a275;
    }
}

.margin_100 {
    margin-top: 100px;
}
